In [7]:
import pandas as pd
import numpy as np

In [2]:
# apply 是 pandas 库的一个很重要的函数，可以直接用于 DataFrame和 Series 对象。
# apply 主要用于数据聚合运算，和自定义函数的运算

In [10]:
df = pd.read_csv('apply.csv')

In [11]:
df

  name nation  score   date_from     date_to
0   张宇     汉族    600  2019-04-01  2019-04-10
1   陈林     汉族    650  2019-05-20  2019-05-31
2   刘冬     回族    560  2019-05-01  2019-05-02

In [87]:
# 数据聚合运算
# 对 score 开根号
# np.sqrt

In [12]:
df.score.apply(np.sqrt)

0    24.494897
1    25.495098
2    23.664319
Name: score, dtype: float64

In [15]:
df

  name nation  score   date_from     date_to
0   张宇     汉族    600  2019-04-01  2019-04-10
1   陈林     汉族    650  2019-05-20  2019-05-31
2   刘冬     回族    560  2019-05-01  2019-05-02

In [90]:
# 如果民族不是汉族，则总分在考试分数上再加 10 分

In [17]:
df['other_score']  = df.nation.apply(lambda x: 0 if x == '汉族' else 10)

In [18]:
df

  name nation  score   date_from     date_to  other_score
0   张宇     汉族    600  2019-04-01  2019-04-10            0
1   陈林     汉族    650  2019-05-20  2019-05-31            0
2   刘冬     回族    560  2019-05-01  2019-05-02           10

In [19]:
df['total_score'] = df.score + df.other_score

In [20]:
df

  name nation  score   date_from     date_to  other_score  total_score
0   张宇     汉族    600  2019-04-01  2019-04-10            0          600
1   陈林     汉族    650  2019-05-20  2019-05-31            0          650
2   刘冬     回族    560  2019-05-01  2019-05-02           10          570

In [95]:
# 计算时间间隔
# apply(pd.to_datetime)
# x.days

In [22]:
df['interval'] =  df.date_to.apply(pd.to_datetime) - df.date_from.apply(pd.to_datetime)

In [23]:
df

,name,nation,score,date_from,date_to,other_score,total_score,interval
0,张宇,汉族,600,2019-04-01,2019-04-10,0,600,9 days
1,陈林,汉族,650,2019-05-20,2019-05-31,0,650,11 days
2,刘冬,回族,560,2019-05-01,2019-05-02,10,570,1 days

In [25]:
df['interval'] = df.interval.apply(lambda x:x.days)

In [26]:
df

,name,nation,score,date_from,date_to,other_score,total_score,interval
0,张宇,汉族,600,2019-04-01,2019-04-10,0,600,9
1,陈林,汉族,650,2019-05-20,2019-05-31,0,650,11
2,刘冬,回族,560,2019-05-01,2019-05-02,10,570,1

In [113]:
# score >=600 且 interval<=15 
# 打个标签 --> 1,否则为 0

# 涉及多列的时候，建议采用自定义函数的方式
# 涉及多列的时候，axis = 1

In [27]:
def f(x):
    if x.score >= 600 and x.interval <=15:
        return 1
    return 0

In [30]:
df['label'] = df.apply(lambda x : f(x),axis=1)

In [31]:
df

,name,nation,score,date_from,date_to,other_score,total_score,interval,label
0,张宇,汉族,600,2019-04-01,2019-04-10,0,600,9,1
1,陈林,汉族,650,2019-05-20,2019-05-31,0,650,11,1
2,刘冬,回族,560,2019-05-01,2019-05-02,10,570,1,0