In [2]:
import pandas as pd

IO : input / output 理解为： 文件的读与写

In [3]:
url = 'https://pandas.pydata.org/pandas-docs/version/1.0.1/user_guide/io.html'

In [ ]:
# 读取粘贴版数据

In [16]:
df = pd.read_clipboard()

In [17]:
df

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [ ]:
# 查看当前目录下文件

In [18]:
!ls

3-1.Series.ipynb                       df.csv
3-2 DataFrame.ipynb                    df.json
3-3  对比Series 与 DataFrame.ipynb     df.txt
3-4 Pandas IO 操作.ipynb               df.xlsx
3-5 DataFrame之loc与iloc操作.ipynb     sample.csv

In [21]:
# 读取数据
# read_csv 可读取 txt 以及 csv 文件

In [19]:
df2 = pd.read_csv('df.csv')

In [20]:
df2

    name  age     sex
0  lemon   20    male
1   Jack   25  female
2  Jason   27    male

In [21]:
df3 = pd.read_csv('df.txt')

In [22]:
df3

    name  age     sex
0  lemon   20    male
1   Jack   25  female

In [ ]:
# read_excel 读取excel数据

In [23]:
!ls

3-1.Series.ipynb                       df.csv
3-2 DataFrame.ipynb                    df.json
3-3  对比Series 与 DataFrame.ipynb     df.txt
3-4 Pandas IO 操作.ipynb               df.xlsx
3-5 DataFrame之loc与iloc操作.ipynb     sample.csv

In [24]:
df3 = pd.read_excel('df.xlsx')

In [25]:
df3

    name  age     sex
0  lemon   20    male
1   Jack   25  female
2  Jason   27    male

In [31]:
# 输出数据


# to_excel
# to_csv
# to_dict
# to_html

In [28]:
df3.to_excel('df3.xlsx',header=True,index=True)

In [30]:
df3.to_csv('df3.csv')

In [31]:
df3.to_dict()

{'name': {0: 'lemon', 1: 'Jack', 2: 'Jason'},
 'age': {0: 20, 1: 25, 2: 27},
 'sex': {0: 'male', 1: 'female', 2: 'male'}}

In [32]:
df3.to_html('df3.html')