In [4]:
import numpy as np
import pandas as pd

In [ ]:
# pd.cut 常用来把一组数据分割成离散的区间

In [5]:
np.random.seed(666)

score = np.random.randint(25, 100, size=10)

In [6]:
score

array([27, 70, 55, 87, 95, 98, 55, 61, 86, 76])

In [ ]:
# pd.cut
# x：被切分的类数组（array / Series）数据，必须是1维的；
# bins：bins是被切割后的区间
    # int ：当bins为一个int型的标量时，，如bins = 3，代表将x分成3个区间。
    # sequence：指定区间 [0, 59, 70, 80, 100]

In [8]:
pd.cut(score,bins=3)

[(26.929, 50.667], (50.667, 74.333], (50.667, 74.333], (74.333, 98.0], (74.333, 98.0], (74.333, 98.0], (50.667, 74.333], (50.667, 74.333], (74.333, 98.0], (74.333, 98.0]]
Categories (3, interval[float64]): [(26.929, 50.667] < (50.667, 74.333] < (74.333, 98.0]]

In [ ]:
# right：bool型参数，默认为True，表示是否包含区间右部。比如如果bins=[1,2,3]，
  #right=True， 则区间为(1,2]，(2,3]
  #right=False，则区间为[1,2),[2,3)。

# [0, 59, 70, 80, 100]

In [9]:
pd.cut(score,bins=3,right=False)

[[27.0, 50.667), [50.667, 74.333), [50.667, 74.333), [74.333, 98.071), [74.333, 98.071), [74.333, 98.071), [50.667, 74.333), [50.667, 74.333), [74.333, 98.071), [74.333, 98.071)]
Categories (3, interval[float64]): [[27.0, 50.667) < [50.667, 74.333) < [74.333, 98.071)]

In [11]:
score

array([27, 70, 55, 87, 95, 98, 55, 61, 86, 76])

In [10]:
pd.cut(score,bins=[0, 59, 70, 80, 100],right=False)

[[0, 59), [70, 80), [0, 59), [80, 100), [80, 100), [80, 100), [0, 59), [59, 70), [80, 100), [70, 80)]
Categories (4, interval[int64]): [[0, 59) < [59, 70) < [70, 80) < [80, 100)]

In [ ]:
# labels：给分割后的bins打标签，比如把年龄x分割成年龄段bins后，可以给年龄段打上诸如青年、中年的标签。
  # labels的长度必须和划分后的区间长度相等，比如bins=[1,2,3]，划分后有2个区间(1,2]，(2,3]，则labels的长度必须为2。
  # ['low', 'middle', 'good', 'perfect']

In [12]:
pd.cut(score,bins=[0, 59, 70, 80, 100],right=True,labels=['low','middle','good','perfect'])

[low, middle, low, perfect, perfect, perfect, low, middle, perfect, good]
Categories (4, object): [low < middle < good < perfect]

In [ ]:
# 更换为DataFrame 查看数据

In [13]:
s = pd.DataFrame(score,columns=['score'])

In [ ]:
# label

In [16]:
s['range'] = pd.cut(s.score,bins = [0, 59, 70, 80, 100],right=True,labels=['low','middle','good','perfect'])

In [17]:
s

   score    range
0     27      low
1     70   middle
2     55      low
3     87  perfect
4     95  perfect
5     98  perfect
6     55      low
7     61   middle
8     86  perfect
9     76     good

In [ ]:
# groupby 查看数据统计

In [41]:
s.groupby('label').agg({'range':'count'})

         range
label
low          3
middle       2
good         1
perfect      4