In [1]:
import pandas as pd

In [2]:
UnionPayData= pd.read_csv(r"C:\Users\yuhuyi\Desktop\银联对账\1、银联返回表\shuoruan_M0001143_20230530.csv")

In [3]:
UnionPayData

                                            20000|2|
0  90010|20230530154533|202305301545339411430|202...
1  90010|20230530154106|202305301541069372930|202...

In [7]:
UnionPayData=UnionPayData.iloc[:,0].str.split("|",expand=True)

In [8]:
UnionPayData

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,90010,20230530154533,202305301545339411430,202305301545339411430,4,10000,10000,19154945014,1,0,01,10000,048980000049994,48995500,00049993,627863,0530154533
1,90010,20230530154106,202305301541069372930,202305301541069372930,4,10000,10000,18026692130,1,0,02,10000,048980000049994,48995500,00049993,610113,0530154106

In [9]:
UnionPayData.columns = ["渠道商APPKEY","下单时间","支付单号","渠道商订单号","渠道商订单状态","支付金额","订单金额","充值账号","产品类型","运营商","卡性质","清算金额","行业商户代码","收单机构标识码","发送机构标识码","系统跟踪号","交易传输时间"]

In [14]:
#UnionPayData

In [15]:
UnionPayData = UnionPayData.loc[:,['支付单号','支付金额','订单金额','充值账号','卡性质','清算金额']]

In [16]:
UnionPayData

                    支付单号   支付金额   订单金额         充值账号 卡性质   清算金额
0  202305301545339411430  10000  10000  19154945014  01  10000
1  202305301541069372930  10000  10000  18026692130  02  10000