In [1]:
import pandas as pd

In [2]:
# 读取数据

In [3]:
df = pd.read_csv('tips.csv')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
'''
SELECT sex, count(1)
FROM tips
GROUP BY sex;
'''

In [ ]:
# count默认会应用于每个列

In [23]:
df.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [25]:
df.groupby('sex').sex.count()

sex
Female     87
Male      157
Name: sex, dtype: int64

In [26]:
df.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
'''
SELECT day, avg(tip),sum(tip),count(1)
FROM tips 
GROUP BY day;
'''

In [ ]:
# 单列进行分组

In [29]:
df.groupby('day').agg({'tip':['mean','sum','count']})

           tip
          mean     sum count
day
Fri   2.734737   51.96    19
Sat   2.993103  260.40    87
Sun   3.255132  247.39    76
Thur  2.771452  171.83    62

In [ ]:
'''
SELECT smoker, day, AVG(tip),sum(tip)
FROM tips
GROUP BY smoker, day;
'''

In [ ]:
# 多列进行分组

In [31]:
df.groupby(['smoker','day']).agg({'tip':['mean','sum']})

                  tip
                 mean     sum
smoker day
No     Fri   2.812500   11.25
       Sat   3.102889  139.63
       Sun   3.167895  180.57
       Thur  2.673778  120.32
Yes    Fri   2.714000   40.71
       Sat   2.875476  120.77
       Sun   3.516842   66.82
       Thur  3.030000   51.51

In [11]:
# 对 smoker 进行降序排序

In [33]:
df.groupby(['smoker','day']).agg({'tip':['mean','sum']}).sort_values(by='smoker',ascending=False)

                  tip
                 mean     sum
smoker day
Yes    Fri   2.714000   40.71
       Sat   2.875476  120.77
       Sun   3.516842   66.82
       Thur  3.030000   51.51
No     Fri   2.812500   11.25
       Sat   3.102889  139.63
       Sun   3.167895  180.57
       Thur  2.673778  120.32

In [ ]:
'''
SELECT smoker, day, AVG(tip),sum(tip)
FROM tips
GROUP BY smoker, day

having sum(tip)>100;

'''

In [ ]:
# g

In [5]:
g = df.groupby(['smoker','day']).agg({'tip':['mean','sum']})

In [6]:
g

                  tip
                 mean     sum
smoker day
No     Fri   2.812500   11.25
       Sat   3.102889  139.63
       Sun   3.167895  180.57
       Thur  2.673778  120.32
Yes    Fri   2.714000   40.71
       Sat   2.875476  120.77
       Sun   3.516842   66.82
       Thur  3.030000   51.51

In [ ]:
# 查看一下colums

In [36]:
g.columns

MultiIndex([('tip', 'mean'),
            ('tip',  'sum')],
           )

In [ ]:
# 使用元祖的方式，可获取具体的数值

In [23]:
#g.loc[:,('tip','sum')]>100

In [38]:
g.loc[:,('tip','sum')] > 100

smoker  day
No      Fri     False
        Sat      True
        Sun      True
        Thur     True
Yes     Fri     False
        Sat      True
        Sun     False
        Thur    False
Name: (tip, sum), dtype: bool

In [39]:
g.loc[g.loc[:,('tip','sum')] > 100]

                  tip
                 mean     sum
smoker day
No     Sat   3.102889  139.63
       Sun   3.167895  180.57
       Thur  2.673778  120.32
Yes    Sat   2.875476  120.77

In [ ]:
'''
SELECT smoker, day, AVG(tip),sum(tip)
FROM tips
GROUP BY smoker, day

having sum(tip)>100 and AVG(tip) > 2.7;

'''

In [7]:
g.loc[(g.loc[:,('tip','sum')] > 100)
     &(g.loc[:,('tip','mean')] > 2.7)]

                 tip
                mean     sum
smoker day
No     Sat  3.102889  139.63
       Sun  3.167895  180.57
Yes    Sat  2.875476  120.77