In [2]:
# pip install pandas-datareader -i https://pypi.tuna.tsinghua.edu.cn/simple

In [2]:
from datetime import datetime
import pandas_datareader as pdr

In [ ]:
# 蔚来   上市日期：2018-09-12
# 特斯拉 上市日期：2010-06-29

In [ ]:
# 确定股票起始日期
# pdr.get_data_yahoo

In [ ]:
# 股票代码: https://finance.yahoo.com/most-active?offset=0&count=100

In [14]:
start = datetime(2019,1,1)

In [8]:
nio = pdr.get_data_yahoo('NIO',start=start,end=end)

In [9]:
tesla = pdr.get_data_yahoo('TSLA',start=start,end=end)

In [56]:
nio.shape

(387, 6)

In [52]:
# 数据描述
# describe

In [55]:
nio.describe()

,High,Low,Open,Close,Volume,Adj Close
count,387.000000,387.000000,387.000000,387.000000,3.870000e+02,387.000000
mean,4.392842,4.063411,4.233773,4.227985,4.939513e+07,4.227985
std,2.376041,2.135563,2.252676,2.264047,6.035406e+07,2.264047
min,1.450000,1.190000,1.190000,1.320000,5.111000e+06,1.320000
25%,2.845000,2.635000,2.810000,2.740000,2.001625e+07,2.740000
50%,3.680000,3.400000,3.550000,3.510000,3.267550e+07,3.510000
75%,5.205000,4.960000,5.060000,5.035000,5.524965e+07,5.035000
max,16.440001,14.200000,15.610000,14.980000,5.709114e+08,14.980000

In [58]:
tesla.describe()

,High,Low,Open,Close,Volume,Adj Close
count,387.000000,387.000000,387.000000,387.000000,3.870000e+02,387.000000
mean,453.525685,430.705995,442.024135,442.755505,1.217490e+07,442.755505
std,285.408959,263.461217,274.782212,274.868067,7.523060e+06,274.868067
min,186.679993,176.990005,181.100006,178.970001,2.465600e+06,178.970001
25%,247.364998,240.040001,244.430000,244.610001,6.872900e+06,244.610001
50%,318.600006,309.260010,313.000000,314.739990,1.003860e+07,314.739990
75%,592.149994,557.595001,573.790009,570.880005,1.564405e+07,570.880005
max,1794.989990,1471.109985,1659.000000,1544.650024,6.093880e+07,1544.650024